 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }
 body{
  font-family:'Poppins',sans-serif;
  min-height: 100vh;
  /* background: rgb(131,58,180); */
  background: linear-gradient(90deg, rgb(237, 151, 245) 0%, rgb(241, 207, 110) 50%, rgba(252,176,69,1) 100%); 
}
 .App{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
 }
 header{
  
  color: #ffffff;
   /* background-color: lineear-gradient(120dg,#e9b442,#99c461); */ 
 }
 form{
  margin-top: 10vh;
 }
 form input,button,select{
  padding: 10px;
  border-radius: 5px;
  border-color: transparent;
  margin-left:1rem ;
  }
 
 input::placeholder{
  padding-left: 10px;
  font-weight: 200;
  font-size: smaller;
 }
 form input:focus{
  border:0;
  outline:none;
  border-color: transparent;
  border-image-slice: 1;
  border-bottom: 3px solid red;
 }
 .todolist-container{
  margin-top: 20px;
 }
 ul{
  list-style: none;
 }
 .todo li{
 margin-bottom: 1rem;
 position: relative;
 align-items: center;
 
 }
 .todo:hover{
  background-color: rgba(231, 176, 112, 0.911); border-bottom: 1px dashed black;
 
 }
 .todo{
  display: flex;
  flex-direction: row;
   justify-content: space-between;
  background-color: rgba(223, 231, 112, 0.815); border-bottom: 1px dashed black;
  width: 60vw;
  align-items: center;
  
 }
 
 .todo button{
 margin:0;
 border-radius: 0;
 margin-left: 2px;
 font-size: xx-small;
 font-weight: 700;
 height: 2rem;
 color: #ffffff;
  
 }

 .edit-btn{
background-color: green;
 }
 .delete-btn{
  background-color: red;
 }
 .edit-btn:hover{opacity: 0.7; }
 .delete-btn:hover{opacity: 0.7; }
 #input_task{
  display: none;
 }
 